@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-green: rgb(112, 184, 112);
    --white: white;
    --dark: #000;
    --grey-200: rgb(76,76,76);
    -grey-500: rgb(196, 190, 190);
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.small-text {
    color:rgb(114, 106, 106);
    font-size: .95rem;
}

.small-text a.sign {
    font-weight: 800;
    color: rgb(41, 40, 40);
}

.logo-wrapper {
    color: #000;
}

.logo {
    color: rgb(33, 184, 33);
}

.container {
    width: 100%;
    height: 100vh;
    background: white;
}

.container .image {
    background: url("leaf.jpg");
    background-size: cover;
    background-position: center center;
}

.two-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content {
    padding: 3em;
    display: grid;
    grid-template-rows: auto 1fr auto;
}   
.content h1 {
    font-size: 3rem;
    margin-block: .65em;
}

.col-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .form-container form {
    width: 50%;
}

.content .form-container form input{
    padding: .75em;
    border: 1px solid rgb(196, 190, 190);
}

.content .form-container form input[type=submit]{
    background: rgb(33, 184, 33);
    border: none;
    color: rgba(255, 255, 255, 1)
}

.content .form-container form > * + *{
    margin-top: 1em;
    width: 100%;
}

.content .form-container .or {
    position: relative;
    text-align: center;
}

.content .form-container .or::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    height: .75px;
    background: rgb(224, 223, 223);
}

.content .form-container .or::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 40%;
    height: .75px;
    background: rgb(224, 223, 223);
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: .4em;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.flex i {
    position: relative;
    color:rgb(41, 40, 40);
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    border: 1px solid rgb(200,200,200);
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .two-col {
        grid-template-columns: 1fr;
    }

    .content .form-container form {
        width: 100%;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .content .form-container form input[type=submit] {
        width: 100%;
    }

    .container .image {
        display: none;
    }
    
}